#bienvenue{
    font-family: "Monoton";
}
#bienvenue span{
    font-family: "Bungee Shade";
    color: #d50ef4;
}
/* @keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.slide-down {
    animation: slideDown 0.5s ease-out;
} */